<template>
  <div class="container-home">
    <SearchHeader v-on:search-movie="actionLoadMovies" />
    <v-progress-circular v-if="loading" :size="70" :width="7" color="#4ea336" indeterminate></v-progress-circular>
    <div v-else-if="movies" class="home">
      <Card v-for="movie in orderedMovies" :key="movie.imdbID" :id="movie.imdbID" :movie="movie" />
    </div>
    <v-alert
      outlined
      type="warning"
      max-width="500px"
      prominent
      border="left"
      v-if="error"
      class="alert"
    >{{error}}</v-alert>
  </div>
</template>

<script>
// @ is an alias to /src
import Card from "@/components/Card.vue";
import SearchHeader from "../components/SearchHeader.vue";
import { mapState } from "vuex";

export default {
  name: "Home",
  components: {
    Card,
    SearchHeader
  },
  methods: {
    actionLoadMovies(params) {
      this.$store.dispatch("loadMovies", params);
    }
  },
  computed: mapState({
    movies: "movies",
    loading: "loading",
    error: "error",
    orderedMovies: function() {
      return this.$store.getters.orderedMovies;
    }
  }),
  mounted() {
    const comments = localStorage.getItem("comments");
    if (!comments) {
      localStorage.setItem("comments", JSON.stringify([]));
    }
  }
};
</script>

<style lang="scss">
.container-home {
  width: 100%;
}
.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  justify-items: center;
  padding: 0 8rem 3rem 8rem;
}

.alert {
  margin: 0 auto;
}
</style>
