<template>
  <div>
    <v-progress-circular v-if="loading" :size="70" :width="7" color="#4ea336" indeterminate></v-progress-circular>
    <div v-else class="detail">
      <CardDetail v-if="movie !== null" :movie="movie" />
      <v-btn
        class="detail__ratingBtn"
        v-on:click="changeRateVisibility"
        small
        color="#4ea336"
      >View ratings</v-btn>

      <v-divider></v-divider>
      <v-spacer></v-spacer>

      <div v-if="movie !== null && showRating">
        <div v-for="rating in mappedRate" v-bind:key="rating.imdbID">
          <Rating v-bind:rating="rating" />
        </div>
      </div>
      <Comment v-for="comment in currentComments" :key="comment.id" :comment="comment" />
      <CommentInput :movieId="this.$route.params.id" v-on:save-comment="saveComment" />
    </div>
  </div>
</template>

<script>
import CardDetail from "@/components/CardDetail.vue";
import Rating from "@/components/Rating.vue";
import Comment from "@/components/Comment.vue";
import CommentInput from "@/components/CommentInput.vue";
import { mapState } from "vuex";

export default {
  name: "MovieDetail",
  data: () => ({
    showRating: false,
    comments: []
  }),
  components: {
    CardDetail,
    Rating,
    Comment,
    CommentInput
  },
  computed: mapState({
    movie: "movie",
    loading: "loading",
    mappedRate: function(state) {
      const mappedRate = state.movie.Ratings.map(rate => {
        const total = rate.Value.split("/");
        const valueRate = parseFloat(total[0]);
        return {
          source: rate.Source,
          value: valueRate > 10 ? valueRate / 10 : valueRate,
          total: total[0] > 10 ? total[1] / 10 : 10
        };
      });
      return mappedRate;
    },
    currentComments: function() {
      return this.comments.filter(
        comment => comment.imdb === this.$route.params.id
      );
    }
  }),
  methods: {
    getMovieDetail() {
      this.$store.dispatch("getMovie", this.$route.params.id);
    },
    changeRateVisibility() {
      this.showRating = !this.showRating;
    },
    saveComment: function(comment) {
      let comments = JSON.parse(localStorage.getItem("comments"));
      comments.push(comment);
      localStorage.setItem("comments", JSON.stringify(comments));
      this.comments = comments;
    }
  },
  mounted() {
    this.$store.dispatch("getMovie", this.$route.params.id);
    const comments = JSON.parse(localStorage.getItem("comments"));
    this.comments = comments;
  }
};
</script>

<style lang="scss">
.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8rem 3rem 8rem;

  &__ratingBtn {
    margin: 1rem;
    text-transform: uppercase;
    color: #fff !important;
  }
}
</style>
