<template>
  <v-card class="card-detail" max-width="320">
    <v-img
      class="white--text align-end"
      height="300px"
      v-if="movie.Poster !== 'N/A'"
      v-bind:src="movie.Poster"
    />
    <v-img
      class="white--text align-end"
      height="300px"
      v-else
      src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
    />

    <div class="card-detail__content">
      <div class="card-detail__text">
        <h1 class="card-detail__title">{{movie.Title}}</h1>
        <p class="card-detail__plot">{{movie.Plot}}</p>
        <span class="card-detail__label">Actors:</span>
        <span class="card-detail__description">{{movie.Actors}}</span>
        <span class="card-detail__label">Awards:</span>
        <span class="card-detail__description">{{movie.Awards}}</span>
        <span class="card-detail__description">Genre: {{movie.Genre}}</span>
      </div>

      <v-card-actions>
        <v-btn class="card-detail__button" text v-on:click="goBack">Back</v-btn>
      </v-card-actions>
    </div>
  </v-card>
</template>
<script>
export default {
  name: "CardDetail",
  props: {
    movie: Object
  },
  methods: {
    goBack() {
      this.$router.go(-1);
    }
  }
};
</script>

<style lang="scss">
.card-detail {
  min-width: 70%;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__plot {
    text-align: start;
  }

  &__label {
    font-weight: bolder;
  }

  &__title {
    font-size: 1.6rem;
    text-align: start;
    line-height: 2rem;
    padding-bottom: 1rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 1rem 0 1rem;
  }

  &__button {
    border: none;
    background-color: #ffffff;
    width: 100%;
    height: 4rem;
    text-transform: uppercase;
    color: #4ea336 !important;
    cursor: pointer;
  }
}
</style>
