<template>
  <v-card class="card" max-width="320">
    <v-img
      class="white--text align-end"
      height="300px"
      v-if="movie.Poster !== 'N/A'"
      v-bind:src="movie.Poster"
    />
    <v-img
      class="white--text align-end"
      height="300px"
      v-else
      src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
    />
    <div class="card__content">
      <div class="card__text">
        <h1 class="card__title">{{movie.title}}</h1>
        <span class="card__description">Year: {{movie.Year}}</span>
        <span class="card__description">Type: {{movie.Type}}</span>
        <span class="card__description">IMDB: {{movie.imdbID}}</span>
      </div>
      <v-card-actions>
        <router-link :to="{ name: 'Movie', params: { id }}">
          <v-btn class="card__button" text>View</v-btn>
        </router-link>
      </v-card-actions>
    </div>
  </v-card>
</template>
<script>
export default {
  name: "Card",
  props: {
    id: String,
    movie: Object,
    title: String,
    year: String,
    type: String,
    poster: String
  }
};
</script>

<style lang="scss">
.card {
  min-width: 33%;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
  }

  &__title {
    font-size: 1.6rem;
    text-align: start;
    line-height: 2rem;
    padding-bottom: 1rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 1rem 0 1rem;
  }

  &__button {
    border: none;
    background-color: #ffffff;
    width: 100%;
    height: 4rem;
    text-transform: uppercase;
    color: #4ea336 !important;
    cursor: pointer;
  }
}
</style>
