<template>
  <div class="comment">
    <div class="comment__header">
      <span class="comment__name">{{comment.name}}</span>
      <span class="comment__date">{{comment.date}}</span>
    </div>
    <p class="comment__text">{{comment.comment}}</p>
  </div>
</template>

<script>
export default {
  name: "Comment",
  props: {
    comment: Object
  }
};
</script>

<style lang="scss">
.comment {
  border: 1px solid #c9baba;
  padding: 1rem;
  width: 60%;
  margin-bottom: 1rem;
  border-radius: 5px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__name {
    font-weight: bolder;
  }

  &__text {
    font-size: 12px;
    text-align: justify;
  }
}
</style>
