<template>
  <div class="comment-input">
    <v-text-field label="Name (optional)" color="#4ea336" v-model="name" single-line filled></v-text-field>
    <v-textarea
      filled
      name="input-7-4"
      :rules="rules"
      label="Comment*"
      :value="comment"
      v-model="comment"
      color="#4ea336"
    ></v-textarea>
    <v-btn class="ma-2" outlined color="#4ea336" :disabled="!comment" v-on:click="saveComment">Save</v-btn>
  </div>
</template>

<script>
export default {
  name: "CommentInput",
  props: {
    movieId: String
  },
  data: () => ({
    name: "",
    comment: "",
    date: new Date(),
    rules: [value => !!value || "Required."]
  }),
  methods: {
    saveComment: function() {
      const comment = {
        imdb: this.movieId,
        name: this.name ? this.name : "Anonymous",
        comment: this.comment,
        date: this.date.toDateString()
      };
      this.$emit("save-comment", comment);
      this.name = "";
      this.comment = "";
    }
  }
};
</script>

<style lang="scss">
.comment-input {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  width: 60%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__name {
    font-weight: bolder;
  }

  &__text {
    font-size: 12px;
    text-align: justify;
  }
}
</style>
