<template>
  <div class="content__rating">
    <span class="content__source">{{rating.source}}</span>
    <v-rating
      v-model="rating.value"
      :length="rating.total"
      background-color="orange lighten-3"
      color="orange"
      half-increments
      readonly
    ></v-rating>
  </div>
</template>

<script>
export default {
  name: "Rating",
  props: {
    rating: Object
  }
};
</script>

<style lang="scss">
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8rem 3rem 8rem;

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
</style>
