<template>
  <div class="search-content">
    <v-text-field
      color="#4ea336"
      label="Search a movie..."
      :rules="rules"
      hide-details="auto"
      v-model="phrase"
    ></v-text-field>
    <v-combobox color="#4ea336" v-model="select" :items="sortItems" label="Sort by"></v-combobox>
    <v-btn color="#4ea336" dark v-on:click="$emit('search-movie', {phrase, sortBy: select})">Search</v-btn>
  </div>
</template>
<script>
export default {
  name: "SearchHeader",
  data: () => ({
    phrase: "",
    select: ["Year"],
    sortItems: ["Year", "Rating"],
    rules: [
      value => !!value || "Required.",
      value => (value && value.length >= 3) || "Min 3 characters"
    ]
  })
};
</script>

<style lang="scss">
.search-content {
  display: flex;
  padding: 2rem;
  justify-content: flex-start;
  align-items: baseline;
  width: 50%;
  margin: 0 auto;

  & > *:not(:last-child) {
    padding-right: 5rem;
  }
}
</style>
